*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg, #e66465, #9198e5);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#typed{
    display: flex;
    color: black;
    font-weight: 700;
    font-size: 4em;
    margin: auto;
    height: 65vh;
    width: 65vw;
    align-items: center;
    justify-content: center;
    letter-spacing: 2.5px;
    background: whitesmoke;
    border-radius: 25px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    /* BOX SHADOW */
    box-shadow: 1px 0px 80px 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 1px 0px 80px 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 0px 80px 10px rgba(0,0,0,0.6);
}

#typed p{
    transform: translateZ(100px);
    text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

