*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#typed{
    display: flex;
    color: whitesmoke;
    font-weight: 700;
    font-size: 5em;
    margin: auto;
    height: 70vh;
    width: 70vw;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
}