* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;

  &,
  * {
    cursor: none;
  }
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

//#################----- PAGE 1 -----#######################

.cursor {
  position: fixed;
  background: purple;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: -10px 0 0 -10px;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;

  // mix-blend-mode: darken;
}

.shapes {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(151, 0, 151);
  overflow: hidden;

  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;

    $shapes: (
      #005ffe: 640px,
      #ffe5e3: 440px,
      #ffcc57: 270px,
    );

    @each $color, $size in $shapes {
      &.shape-#{index($shapes, ($color $size))} {
        background: $color;
        width: $size;
        height: $size;
        margin: (-$size/2) 0 0 (-$size/2);
      }
    }
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: white;
  //MAGIC HAPPENS
  mix-blend-mode: screen;
}

.content h1 {
  color: black;
  margin: 0;
  font-size: 100px;
  letter-spacing: 25px;
  font-weight: 500;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.content h1:hover {
  transform: scale(1.5);
}

.down,
.down-white {
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-bottom: 2.5%;
  bottom: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.down-white img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(173deg)
    brightness(102%) contrast(103%);
}

.down:hover,
.down-white:hover {
  transform: scale(1.5);
}

//#################----- PAGE 2 -----#######################

.page2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: black;
}

.up,
.up-white {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  padding-top: 2.5%;
  position: absolute;
  align-items: center;
  z-index: 100000;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.up-white img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(173deg)
    brightness(102%) contrast(103%);
}

.up:hover,
.up-white:hover {
  transform: scale(1.5);
}

.typed-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#typed {
  font-weight: 500;
  font-size: 5em;
  letter-spacing: 10px;
  display: flex;
  flex-direction: column;
  // color: rgb(68, 0, 68);
  color: white;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  margin: 15%;
  text-align: center;
}

#typed:hover {
  transform: scale(1.25);
  overflow-wrap: normal;
  display: flex;
  text-align: center;
}

.typed-cursor {
  display: none;
}

//#################----- PAGE 3 -----#######################

.page3 {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.up2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  padding-top: 1.5%;
  position: absolute;
  align-items: center;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.hover-this {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

span {
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  color: rgb(68, 0, 68);
  font-size: 5em;
  pointer-events: none;
  transition: transform 0.3s linear;
}

.hover-this:hover {
  transform: translateY(-15%) scale(2);
}

@media screen and (max-width: 1600px) {
  .content h1:hover {
    transform: scale(1.25);
  }

  #typed:hover {
    transform: scale(1.15);
  }

  #typed {
    margin: 20%;
  }

  .hover-this:hover {
    transform: scale(1.35);
  }
}

@media screen and (max-width: 1300px) {
  nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hover-this {
    margin: 5%;
  }
  .content h1 {
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 1100px) {
  .content h1 {
    font-size: 75px;
  }

  #typed {
    font-size: 65px;
  }

  .hover-this {
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hover-this {
    margin: 5%;
  }
}

@media screen and (max-width: 800px) {
  .content h1 {
    font-size: 60px;
  }

  #typed {
    font-size: 50px;
  }

  .hover-this {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .content h1 {
    font-size: 50px;
  }

  #typed {
    font-size: 40px;
  }

  .hover-this {
    font-size: 7.5px;
  }
}

@media screen and (max-width: 500px) {
  .content h1 {
    font-size: 40px;
  }
}

//################################## CONTACT US #################################

.cursor-cont {
  position: fixed;
  background: #2eaccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: -10px 0 0 -10px;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

#contact-body {
  height: 100vh;
  width: 100%;
}

.contact-box {
  border-radius: 20px;
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 20px 100px 30px 100px;
}

.left {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  justify-content: center;
}

#logocont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 850px;
}

#contImg {
  width: 100%;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#contImg:hover {
  transform: scale(1.2);
}

.right {
  padding: 25px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -75px;
}

#h2cont {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 50px;
}

#h2cont:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2eaccc;
}

.field {
  border-radius: 7.5px;
  width: 75%;
  border: 2px solid rgba(0, 0, 0, 0);
  text-align: center;
  background: rgb(250, 250, 250);
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  line-height: 35px;
  resize: none;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#txtArea {
  min-height: 150px;
}

.btnCont {
  border-radius: 10px;
  width: 79%;
  padding: 0.5rem 1rem;
  background-color: #2eaccc;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btnCont:hover {
  background-color: #19687c;
  cursor: none;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

.lft {
  width: 30px;
  height: 35px;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.lft:hover {
  transform: scale(1.5);
}

.acont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//###################################################Follow us#########################################

.cursor-follow {
  position: fixed;
  background: #2eaccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: -10px 0 0 -10px;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

#body-follow {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #252525;
}

.textContent {
  padding: 0 7.5%;
  text-align: center;
  color: whitesmoke;
}

.icnlist {
  display: flex;
  justify-content: center;
  top: 50%;
  list-style-type: none;
  padding: 0;
}

.listitem {
  margin: 15px;
  text-decoration: none;
}

.lnk {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.lnk::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ff10ff;
  transition: 0.5s;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transform: scale(0.9);
  z-index: -1;
}

.lnk:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ff10ff;
}

.lnk:hover {
  color: #ff10ff;
  box-shadow: 0 0 5px #ff10ff;
  text-shadow: 0 0 5px #ff10ff;
}

.maincont {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lefto {
  position: absolute;
  justify-content: center;
  margin-left: 5%;
}

#lftwhite {
  font-size: 30px;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: whitesmoke;
}

#lftwhite:hover {
  transform: scale(1.5);
}

//#####################################ABOUT US##################################

#body-abt {
  cursor: none;
  margin: 0;
  padding: 0;
}

.cursor-abt {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: purple;
  border-radius: 50%;
  position: fixed;
  z-index: 10000;
}

.follower {
  top: 0;
  left: 0;
  position: fixed;
  width: 100px;
  height: 100px;
  background: #f085f0;
  border-radius: 50%;
  opacity: 0.7;
}

#sc1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
}

.txt {
  display: flex;
  flex-direction: column;
}

#sc1 h1 {
  font-size: 60pt;
  font-weight: normal;
  text-align: center;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  z-index: 1000000;
}

#sc1 h1:hover {
  transform: scale(1.2);
  .abt-hd {
    color: rgb(155, 0, 155);
  }
}

.abt-hd {
  font-size: 60pt;
  font-weight: 500;
  transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

#sc2 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.weird {
  position: absolute;
  right: 10px;
  bottom: -75px;
  z-index: 1000;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.weird:hover {
  transform: scale(1.2);
  right: 45px;
}

.left-abt {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  position: absolute;
  padding-left: 175px;
}

.weird2{
  position: absolute;
  left: -50px;
  bottom: -35%;
  z-index: 1000;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.weird2:hover{
  transform: scale(1.2);
  left: 0px;
}